In [1]:
import pandas as pd
import numpy as np
import metrics

In [2]:
dataset = pd.read_csv('data/house_kaggle.csv')

In [3]:
dataset

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.0,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.0,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.0,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.0,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.0,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [4]:
dataset.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [5]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Id,1460,"[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14...",int64,0
1,MSSubClass,15,"[60, 20, 70, 50, 190, 45, 90, 120, 30, 85, 80,...",int64,0
2,MSZoning,5,"[RL, RM, C (all), FV, RH]",object,0
3,LotFrontage,110,"[65.0, 80.0, 68.0, 60.0, 84.0, 85.0, 75.0, nan...",float64,259
4,LotArea,1073,"[8450, 9600, 11250, 9550, 14260, 14115, 10084,...",int64,0
...,...,...,...,...,...
76,MoSold,12,"[2, 5, 9, 12, 10, 8, 11, 4, 1, 7, 3, 6]",int64,0
77,YrSold,5,"[2008, 2007, 2006, 2009, 2010]",int64,0
78,SaleType,9,"[WD, New, COD, ConLD, ConLI, CWD, ConLw, Con, ...",object,0
79,SaleCondition,6,"[Normal, Abnorml, Partial, AdjLand, Alloca, Fa...",object,0
80,SalePrice,663,"[208500, 181500, 223500, 140000, 250000, 14300...",int64,0

In [6]:
dataset.drop(['Id'], axis=1, inplace=True)

In [7]:
dataset.LotFrontage.value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
        ...
137.0      1
141.0      1
38.0       1
140.0      1
46.0       1
Name: LotFrontage, Length: 110, dtype: int64

In [8]:
dataset.LotFrontage.fillna(0, inplace=True)

In [9]:
dataset.Alley.fillna('no_alley', inplace=True)

In [10]:
bs = ['BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1','BsmtFinType2']

In [11]:
for col in bs:
    dataset[col].fillna('no_bsmt', inplace=True)

In [12]:
dataset.Electrical.fillna(dataset.Electrical.mode()[0], inplace=True)

In [13]:
for i in range(len(dataset)):
    if dataset.Fireplaces[i] == 0:
        dataset.loc[i,'FireplaceQu'] = 'Nofireplaces'

In [14]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,MSSubClass,15,"[60, 20, 70, 50, 190, 45, 90, 120, 30, 85, 80,...",int64,0
1,MSZoning,5,"[RL, RM, C (all), FV, RH]",object,0
2,LotFrontage,111,"[65.0, 80.0, 68.0, 60.0, 84.0, 85.0, 75.0, 0.0...",float64,0
3,LotArea,1073,"[8450, 9600, 11250, 9550, 14260, 14115, 10084,...",int64,0
4,Street,2,"[Pave, Grvl]",object,0
...,...,...,...,...,...
75,MoSold,12,"[2, 5, 9, 12, 10, 8, 11, 4, 1, 7, 3, 6]",int64,0
76,YrSold,5,"[2008, 2007, 2006, 2009, 2010]",int64,0
77,SaleType,9,"[WD, New, COD, ConLD, ConLI, CWD, ConLw, Con, ...",object,0
78,SaleCondition,6,"[Normal, Abnorml, Partial, AdjLand, Alloca, Fa...",object,0
79,SalePrice,663,"[208500, 181500, 223500, 140000, 250000, 14300...",int64,0

In [15]:
dataset['MasVnrArea'].fillna('no_MasVnr',inplace=True)

In [16]:
dataset['GarageYrBlt'] =pd.to_numeric(dataset['GarageYrBlt'], errors='coerce')

In [17]:
grg = ['GarageType', 'GarageYrBlt', 'GarageFinish','GarageArea','GarageQual','GarageCond']
for col in grg:
    dataset[col].fillna('no_garage', inplace=True)

In [18]:
dataset.PoolQC.fillna('no_pool', inplace=True)

In [19]:
dataset.Fence.fillna('no_fence', inplace=True)

In [20]:
for i in range(len(dataset)):
    if dataset.MiscVal[i] == 0:
        dataset.loc[i,'MiscFeature'] = 'no_misc'

In [21]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,MSSubClass,15,"[60, 20, 70, 50, 190, 45, 90, 120, 30, 85, 80,...",int64,0
1,MSZoning,5,"[RL, RM, C (all), FV, RH]",object,0
2,LotFrontage,111,"[65.0, 80.0, 68.0, 60.0, 84.0, 85.0, 75.0, 0.0...",float64,0
3,LotArea,1073,"[8450, 9600, 11250, 9550, 14260, 14115, 10084,...",int64,0
4,Street,2,"[Pave, Grvl]",object,0
...,...,...,...,...,...
75,MoSold,12,"[2, 5, 9, 12, 10, 8, 11, 4, 1, 7, 3, 6]",int64,0
76,YrSold,5,"[2008, 2007, 2006, 2009, 2010]",int64,0
77,SaleType,9,"[WD, New, COD, ConLD, ConLI, CWD, ConLw, Con, ...",object,0
78,SaleCondition,6,"[Normal, Abnorml, Partial, AdjLand, Alloca, Fa...",object,0
79,SalePrice,663,"[208500, 181500, 223500, 140000, 250000, 14300...",int64,0

In [22]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [23]:
# for col in dataset.columns:
#     if dataset[col].dtype == 'object':
#         if dataset[col].nunique() <= 3:
#             dataset[col] = le.fit_transform(dataset[col])

In [24]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [25]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,MSSubClass,15,"[60, 20, 70, 50, 190, 45, 90, 120, 30, 85, 80,...",int64,0
1,LotFrontage,111,"[65.0, 80.0, 68.0, 60.0, 84.0, 85.0, 75.0, 0.0...",float64,0
2,LotArea,1073,"[8450, 9600, 11250, 9550, 14260, 14115, 10084,...",int64,0
3,OverallQual,10,"[7, 6, 8, 5, 9, 4, 10, 3, 1, 2]",int64,0
4,OverallCond,9,"[5, 8, 6, 7, 4, 2, 3, 9, 1]",int64,0
...,...,...,...,...,...
677,SaleCondition_AdjLand,2,"[0, 1]",uint8,0
678,SaleCondition_Alloca,2,"[0, 1]",uint8,0
679,SaleCondition_Family,2,"[0, 1]",uint8,0
680,SaleCondition_Normal,2,"[1, 0]",uint8,0
681,SaleCondition_Partial,2,"[0, 1]",uint8,0

In [26]:
X = dataset.drop(['SalePrice'], axis=1).values
y = dataset['SalePrice'].values

In [27]:
from sklearn.feature_selection import VarianceThreshold

In [28]:
columns = dataset.columns[:-1]
columns
v = VarianceThreshold(threshold=0.2)
v.fit(X,y)
v.get_support()
columns[v.get_support()]

Index(['MSSubClass', 'LotFrontage', 'LotArea', 'OverallQual', 'OverallCond',
       'YearBuilt', 'YearRemodAdd', 'BsmtFinSF1', 'BsmtFinSF2', 'BsmtUnfSF',
       'TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'LowQualFinSF', 'GrLivArea',
       'BsmtFullBath', 'FullBath', 'HalfBath', 'BedroomAbvGr', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal',
       'MoSold', 'YrSold', 'LotShape_IR3', 'LotConfig_FR3',
       'HouseStyle_1.5Unf', 'HouseStyle_2.5Unf', 'Exterior1st_Stucco',
       'Exterior2nd_Stucco', 'Exterior2nd_Wd Shng', 'MasVnrType_BrkFace',
       'ExterQual_Fa', 'ExterQual_Gd', 'ExterCond_TA', 'Foundation_CBlock',
       'BsmtQual_Fa', 'BsmtQual_Gd', 'BsmtExposure_Mn', 'BsmtFinType1_BLQ',
       'BsmtFinType1_Rec', 'HeatingQC_Po', 'KitchenQual_Fa', 'KitchenQual_Gd',
       'FireplaceQu_Gd', 'FireplaceQu_TA', 'GarageYrBlt_no_garage',
       'GarageFinish_RFn'],
      dtype='object')

In [29]:
columns = columns.tolist()

In [42]:
len(columns)

681

In [30]:
X_new = dataset.loc[:,columns]
X_new

,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,BsmtUnfSF,...,SaleType_ConLD,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal
0,60,65.0,8450,7,5,2003,2003,706,0,150,...,0,0,0,0,0,1,0,0,0,1
1,20,80.0,9600,6,8,1976,1976,978,0,284,...,0,0,0,0,0,1,0,0,0,1
2,60,68.0,11250,7,5,2001,2002,486,0,434,...,0,0,0,0,0,1,0,0,0,1
3,70,60.0,9550,7,5,1915,1970,216,0,540,...,0,0,0,0,0,1,0,0,0,0
4,60,84.0,14260,8,5,2000,2000,655,0,490,...,0,0,0,0,0,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,60,62.0,7917,6,5,1999,2000,0,0,953,...,0,0,0,0,0,1,0,0,0,1
1456,20,85.0,13175,6,6,1978,1988,790,163,589,...,0,0,0,0,0,1,0,0,0,1
1457,70,66.0,9042,7,9,1941,2006,275,0,877,...,0,0,0,0,0,1,0,0,0,1
1458,20,68.0,9717,5,6,1950,1996,49,1029,0,...,0,0,0,0,0,1,0,0,0,1
1459,20,75.0,9937,5,6,1965,1965,830,290,136,...,0,0,0,0,0,1,0,0,0,1

In [31]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X_new,y,test_size=0.3,random_state=0)

In [32]:
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)

In [33]:
# from sklearn.decomposition import PCA
# pca = PCA(n_components=18)
# pca.fit(X)
# X_pca = pca.transform(X)

In [34]:
# from sklearn.ensemble import RandomForestRegressor
# model = RandomForestRegressor(n_estimators=1000,max_depth=25)
# model.fit(X_train,y_train)

In [35]:
from sklearn.linear_model import Lasso
model = Lasso(alpha=0.5)
model.fit(X_train,y_train)

Lasso(alpha=0.5)

In [36]:
model.score(X_test,y_test)

0.9999999999996404

In [37]:
model.score(X_train,y_train)

0.9999999999996373

In [38]:
y_pred = model.predict(X_test)

In [39]:
y_pred_train = model.predict(X_train)

In [40]:
metrics.Regression.train(y_train,y_pred_train)

Train R2 Score: 0.9999999999996373
Train Mean Squared Error: 0.002212193291860131
Train Accuracy: 0.9999999999996373

In [41]:
metrics.Regression.test(y_test,y_pred)

R2 Score: 0.9999999999996404
Mean Squared Error: 0.0024411495912877923
Accuracy: 0.9999999999996404