In [1]:
import pandas as pd
import metrics
import numpy as np

In [2]:
dataset = pd.read_csv("data/loan_sanction_train.csv")

In [3]:
dataset

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [4]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Loan_ID,614,"[LP001002, LP001003, LP001005, LP001006, LP001...",object,0
1,Gender,2,"[Male, Female, nan]",object,13
2,Married,2,"[No, Yes, nan]",object,3
3,Dependents,4,"[0, 1, 2, 3+, nan]",object,15
4,Education,2,"[Graduate, Not Graduate]",object,0
5,Self_Employed,2,"[No, Yes, nan]",object,32
6,ApplicantIncome,505,"[5849, 4583, 3000, 2583, 6000, 5417, 2333, 303...",int64,0
7,CoapplicantIncome,287,"[0.0, 1508.0, 2358.0, 4196.0, 1516.0, 2504.0, ...",float64,0
8,LoanAmount,203,"[nan, 128.0, 66.0, 120.0, 141.0, 267.0, 95.0, ...",float64,22
9,Loan_Amount_Term,10,"[360.0, 120.0, 240.0, nan, 180.0, 60.0, 300.0,...",float64,14
10,Credit_History,2,"[1.0, 0.0, nan]",float64,50
11,Property_Area,3,"[Urban, Rural, Semiurban]",object,0
12,Loan_Status,2,"[Y, N]",object,0

In [5]:
dataset.drop(['Loan_ID'],inplace=True,axis=1)

In [6]:
dataset.Gender.fillna(dataset.Gender.mode()[0], inplace=True)

In [7]:
dataset.Married.fillna(dataset.Married.mode()[0], inplace=True)

In [8]:
dataset.Dependents.fillna(dataset.Dependents.mode()[0], inplace=True)

In [9]:
dataset.Self_Employed.fillna(dataset.Self_Employed.mode()[0], inplace=True)

In [10]:
dataset.Credit_History.fillna(dataset.Credit_History.mode()[0], inplace=True)

In [11]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Gender,2,"[Male, Female]",object,0
1,Married,2,"[No, Yes]",object,0
2,Dependents,4,"[0, 1, 2, 3+]",object,0
3,Education,2,"[Graduate, Not Graduate]",object,0
4,Self_Employed,2,"[No, Yes]",object,0
5,ApplicantIncome,505,"[5849, 4583, 3000, 2583, 6000, 5417, 2333, 303...",int64,0
6,CoapplicantIncome,287,"[0.0, 1508.0, 2358.0, 4196.0, 1516.0, 2504.0, ...",float64,0
7,LoanAmount,203,"[nan, 128.0, 66.0, 120.0, 141.0, 267.0, 95.0, ...",float64,22
8,Loan_Amount_Term,10,"[360.0, 120.0, 240.0, nan, 180.0, 60.0, 300.0,...",float64,14
9,Credit_History,2,"[1.0, 0.0]",float64,0
10,Property_Area,3,"[Urban, Rural, Semiurban]",object,0
11,Loan_Status,2,"[Y, N]",object,0

In [12]:
dataset.LoanAmount.fillna(dataset.LoanAmount.mean(), inplace=True)

In [13]:
dataset.Loan_Amount_Term.fillna(dataset.Loan_Amount_Term.mean(), inplace=True)

In [14]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Gender,2,"[Male, Female]",object,0
1,Married,2,"[No, Yes]",object,0
2,Dependents,4,"[0, 1, 2, 3+]",object,0
3,Education,2,"[Graduate, Not Graduate]",object,0
4,Self_Employed,2,"[No, Yes]",object,0
5,ApplicantIncome,505,"[5849, 4583, 3000, 2583, 6000, 5417, 2333, 303...",int64,0
6,CoapplicantIncome,287,"[0.0, 1508.0, 2358.0, 4196.0, 1516.0, 2504.0, ...",float64,0
7,LoanAmount,204,"[146.41216216216216, 128.0, 66.0, 120.0, 141.0...",float64,0
8,Loan_Amount_Term,11,"[360.0, 120.0, 240.0, 342.0, 180.0, 60.0, 300....",float64,0
9,Credit_History,2,"[1.0, 0.0]",float64,0
10,Property_Area,3,"[Urban, Rural, Semiurban]",object,0
11,Loan_Status,2,"[Y, N]",object,0

In [15]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [16]:
# X = dataset.iloc[:, :-1]
# y = dataset.iloc[:, -1]

In [17]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=0)

In [27]:
# from sklearn.model_selection import KFold,StratifiedKFold
# kfold = StratifiedKFold(n_splits=6, shuffle=True,random_state=0)

In [28]:
# for train_index, test_index in kfold.split(X,y):
#     # Split the data into train and test sets
#     X_train, X_test = X.iloc[train_index], X.iloc[test_index]
#     y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [29]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(class_weight='balanced',max_depth=4,min_samples_split=10)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(class_weight='balanced', max_depth=4,
                       min_samples_split=10)

In [30]:
y_pred = classifier.predict(X_test)

In [31]:
y_pred_train = classifier.predict(X_train)

In [32]:
metrics.Classification.test(y_pred_test=y_pred,y_test=y_test)

Accuracy: 0.7987012987012987
F1 Score: 0.8669527896995709
Recall: 0.9099099099099099
Precision: 0.8278688524590164
Confusion Matrix:
 [[ 22  21]
 [ 10 101]]
Specificity: 0.5116279069767442

In [33]:
metrics.Classification.train(y_pred_train=y_pred_train,y_train=y_train)

Train Accuracy: 0.808695652173913
Train F1 Score: 0.8678678678678678
Train Recall: 0.9292604501607717
Train Precision: 0.8140845070422535
Train Confusion Matrix:
 [[ 83  66]
 [ 22 289]]
Train Specificity: 0.5570469798657718