In [1]:
import pandas as pd
import warnings
import metrics
warnings.filterwarnings("ignore")

In [2]:
dataset = pd.read_csv('data/heart.csv')

In [3]:
dataset

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [4]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Age,50,"[40, 49, 37, 48, 54, 39, 45, 58, 42, 38, 43, 6...",int64,0
1,Sex,2,"[M, F]",object,0
2,ChestPainType,4,"[ATA, NAP, ASY, TA]",object,0
3,RestingBP,67,"[140, 160, 130, 138, 150, 120, 110, 136, 115, ...",int64,0
4,Cholesterol,222,"[289, 180, 283, 214, 195, 339, 237, 208, 207, ...",int64,0
5,FastingBS,2,"[0, 1]",int64,0
6,RestingECG,3,"[Normal, ST, LVH]",object,0
7,MaxHR,119,"[172, 156, 98, 108, 122, 170, 142, 130, 120, 9...",int64,0
8,ExerciseAngina,2,"[N, Y]",object,0
9,Oldpeak,53,"[0.0, 1.0, 1.5, 2.0, 3.0, 4.0, 0.5, 2.5, 5.0, ...",float64,0
10,ST_Slope,3,"[Up, Flat, Down]",object,0
11,HeartDisease,2,"[0, 1]",int64,0

In [5]:
dataset = pd.get_dummies(dataset, drop_first=True)

In [6]:
metrics.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Age,50,"[40, 49, 37, 48, 54, 39, 45, 58, 42, 38, 43, 6...",int64,0
1,RestingBP,67,"[140, 160, 130, 138, 150, 120, 110, 136, 115, ...",int64,0
2,Cholesterol,222,"[289, 180, 283, 214, 195, 339, 237, 208, 207, ...",int64,0
3,FastingBS,2,"[0, 1]",int64,0
4,MaxHR,119,"[172, 156, 98, 108, 122, 170, 142, 130, 120, 9...",int64,0
5,Oldpeak,53,"[0.0, 1.0, 1.5, 2.0, 3.0, 4.0, 0.5, 2.5, 5.0, ...",float64,0
6,HeartDisease,2,"[0, 1]",int64,0
7,Sex_M,2,"[1, 0]",uint8,0
8,ChestPainType_ATA,2,"[1, 0]",uint8,0
9,ChestPainType_NAP,2,"[0, 1]",uint8,0
10,ChestPainType_TA,2,"[0, 1]",uint8,0
11,RestingECG_Normal,2,"[1, 0]",uint8,0
12,RestingECG_ST,2,"[0, 1]",uint8,0
13,ExerciseAngina_Y,2,"[0, 1]",uint8,0
14,ST_Slope_Flat,2,"[0, 1]",uint8,0
15,ST_Slope_Up,2,"[1, 0]",uint8,0

In [7]:
dataset.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA,RestingECG_Normal,RestingECG_ST,ExerciseAngina_Y,ST_Slope_Flat,ST_Slope_Up
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377,0.789760,0.188453,0.221133,0.050109,0.601307,0.193900,0.404139,0.501089,0.430283
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414,0.407701,0.391287,0.415236,0.218289,0.489896,0.395567,0.490992,0.500271,0.495386
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,1.000000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [8]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, -1].values

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.1, random_state = 0)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
model = LogisticRegression()

In [11]:
model.fit(X_train, y_train)

LogisticRegression()

In [12]:
model.score(X_test, y_test)

0.967391304347826

In [13]:
model.score(X_train, y_train)

0.9539951573849879

In [14]:
y_pred = model.predict(X_test)
y_pred_train = model.predict(X_train)

In [15]:
metrics.Classification.test(y_test, y_pred)

Accuracy: 0.967391304347826
F1 Score: 0.9577464788732395
Recall: 0.918918918918919
Precision: 1.0
Confusion Matrix:
 [[55  0]
 [ 3 34]]
Specificity: 1.0

In [16]:
metrics.Classification.train(y_train, y_pred_train)

Train Accuracy: 0.9539951573849879
Train F1 Score: 0.9473684210526315
Train Recall: 0.9553072625698324
Train Precision: 0.9395604395604396
Train Confusion Matrix:
 [[446  22]
 [ 16 342]]
Train Specificity: 0.9529914529914529