In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('data/framingham.csv')

In [3]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.0,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.0,0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4240 entries, 0 to 4239
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   male             4240 non-null   int64
 1   age              4240 non-null   int64
 2   education        4135 non-null   float64
 3   currentSmoker    4240 non-null   int64
 4   cigsPerDay       4211 non-null   float64
 5   BPMeds           4187 non-null   float64
 6   prevalentStroke  4240 non-null   int64
 7   prevalentHyp     4240 non-null   int64
 8   diabetes         4240 non-null   int64
 9   totChol          4190 non-null   float64
 10  sysBP            4240 non-null   float64
 11  diaBP            4240 non-null   float64
 12  BMI              4221 non-null   float64
 13  heartRate        4239 non-null   float64
 14  glucose          3852 non-null   float64
 15  TenYearCHD       4240 non-null   int64
dtypes: float64(9), int64(7)
memory usage: 530.1 KB

In [5]:
data.isna().sum()

male                 0
age                  0
education          105
currentSmoker        0
cigsPerDay          29
BPMeds              53
prevalentStroke      0
prevalentHyp         0
diabetes             0
totChol             50
sysBP                0
diaBP                0
BMI                 19
heartRate            1
glucose            388
TenYearCHD           0
dtype: int64

In [6]:
data.isna().sum().sum()

645

In [7]:
data.duplicated().sum()

0

In [8]:
data.education.fillna(1.0, inplace=True)

In [9]:
data[data.BMI.isna()]['TenYearCHD'].value_counts()

1    10
0     9
Name: TenYearCHD, dtype: int64

In [10]:
for i in range(1):
    print(1)

1

In [11]:
mean_class_0 = data[data['TenYearCHD']==0]['BMI'].mean()
mean_class_0

25.67165876777247

In [12]:
mean_class_1 = data[data['TenYearCHD']==1]['BMI'].mean()
mean_class_1

26.53145110410095

In [13]:
data.BMI.fillna(26, inplace=True)

In [14]:
mean_class_0 = data[data['TenYearCHD']==0]['glucose'].mean()
mean_class_0

80.6792510742787

In [15]:
mean_class_1 = data[data['TenYearCHD']==1]['glucose'].mean()
mean_class_1

89.00841750841751

In [16]:
naindex = data[data['glucose'].isna()].index.tolist()

In [17]:
for i in naindex:
    if data.iloc[i,-1] == 0 :
        data.iloc[i,-2] = mean_class_0
    else :
        data.iloc[i,-2] = mean_class_1

In [18]:
data.isna().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay         29
BPMeds             53
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                 0
heartRate           1
glucose             0
TenYearCHD          0
dtype: int64

In [19]:
data.heartRate.fillna(data.heartRate.mean(),inplace=True)

In [20]:
mean_class_0 = data[data['TenYearCHD']==0]['cigsPerDay'].mean()
mean_class_0

8.713925469319136

In [21]:
mean_class_1 = data[data['TenYearCHD']==1]['cigsPerDay'].mean()
mean_class_1

10.629283489096574

In [22]:
na_index = data[data['cigsPerDay'].isna()].index.tolist()
na_index

[131,
 139,
 1046,
 1292,
 1347,
 1451,
 1497,
 1610,
 1625,
 1870,
 1963,
 1980,
 2405,
 2513,
 2542,
 3021,
 3034,
 3094,
 3106,
 3108,
 3156,
 3177,
 3309,
 3432,
 3579,
 3715,
 3847,
 3924,
 3942]

In [23]:
for i in na_index:
    if data.loc[i,'TenYearCHD'] == 0 :
        data.loc[i,'cigsPerDay'] = mean_class_0
    else :
        data.loc[i,'cigsPerDay'] = mean_class_1

In [24]:
data.isna().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay          0
BPMeds             53
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                 0
heartRate           0
glucose             0
TenYearCHD          0
dtype: int64

In [25]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,80.679251,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000,0

In [26]:
mode_class_0 = data[data['TenYearCHD']==0]['BPMeds'].mode()
mode_class_0

0    0.0
Name: BPMeds, dtype: float64

In [27]:
mode_class_1 = data[data['TenYearCHD']==1]['BPMeds'].mode()
mode_class_1

0    0.0
Name: BPMeds, dtype: float64

In [28]:
data.BPMeds.fillna(0.0,inplace=True)

In [29]:
data.isna().sum()

male                0
age                 0
education           0
currentSmoker       0
cigsPerDay          0
BPMeds              0
prevalentStroke     0
prevalentHyp        0
diabetes            0
totChol            50
sysBP               0
diaBP               0
BMI                 0
heartRate           0
glucose             0
TenYearCHD          0
dtype: int64

In [30]:
data

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.000000,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.000000,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.000000,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.000000,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.000000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4235,0,48,2.0,1,20.0,0.0,0,0,0,248.0,131.0,72.0,22.00,84.0,86.000000,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,80.679251,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.000000,0
4238,1,40,3.0,0,0.0,0.0,0,1,0,185.0,141.0,98.0,25.60,67.0,72.000000,0
4239,0,39,3.0,1,30.0,0.0,0,0,0,196.0,133.0,86.0,20.91,85.0,80.000000,0

In [31]:
mean_class_0 = data[data['TenYearCHD']==0]['totChol'].mean()
mean_class_0

235.14739803094233

In [32]:
mean_class_1 = data[data['TenYearCHD']==1]['totChol'].mean()
mean_class_1

245.38897637795276

In [33]:
na_index = data[data['totChol'].isna()].index.tolist()
na_index

[42,
 154,
 247,
 429,
 567,
 577,
 609,
 673,
 822,
 834,
 871,
 951,
 1105,
 1122,
 1317,
 1354,
 1359,
 1448,
 1575,
 1744,
 1747,
 1785,
 1879,
 1940,
 2003,
 2008,
 2079,
 2209,
 2263,
 2340,
 2341,
 2417,
 2583,
 2589,
 2612,
 2805,
 2872,
 2902,
 3110,
 3111,
 3149,
 3285,
 3576,
 3607,
 3630,
 3660,
 3960,
 3961,
 3988,
 4185]

In [34]:
for i in na_index:
    if data.loc[i,'TenYearCHD'] == 0 :
        data.loc[i,'totChol'] = mean_class_0
    else :
        data.loc[i,'totChol'] = mean_class_1

In [35]:
data.isna().sum().sum()

0

In [36]:
X = data.iloc[:,:-1].values
y = data.iloc[:,-1].values

In [37]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [38]:
from imblearn.over_sampling import SMOTE
from collections import Counter

In [39]:
print("Data before Oversampling :", Counter(y_train))

Data before Oversampling : Counter({0: 2876, 1: 516})

In [40]:
sm = SMOTE()
X_res, y_res = sm.fit_resample(X_train, y_train)
print("Data after Oversampling :", Counter(y_res))

Data after Oversampling : Counter({0: 2876, 1: 2876})

In [41]:
from imblearn.under_sampling import TomekLinks
tl = TomekLinks(sampling_strategy='all')
X_res, y_res = tl.fit_resample(X_res, y_res)

In [42]:
print("Data after Undersampling :", Counter(y_res))

Data after Oversampling : Counter({0: 2853, 1: 2853})

In [43]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(3)
knn.fit(X_res, y_res)

KNeighborsClassifier(n_neighbors=3)

In [44]:
y_pred = knn.predict(X_test)

C:\Users\amr20\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.6591981132075472

In [46]:
accuracy_score(y_train,knn.predict(X_train))

C:\Users\amr20\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

0.8626179245283019

In [47]:
from sklearn.linear_model import LogisticRegression
reg = LogisticRegression()

In [48]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()

In [49]:
reg.fit(X_res,y_res)

C:\Users\amr20\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [50]:
accuracy_score(y_test,reg.predict(X_test))

0.6285377358490566

In [51]:
accuracy_score(y_train,reg.predict(X_train))

0.6376768867924528

In [52]:
from sklearn.tree import DecisionTreeClassifier
tree = DecisionTreeClassifier(max_depth=5)
tree.fit(X_res,y_res)

DecisionTreeClassifier(max_depth=5)

In [53]:
accuracy_score(y_test,tree.predict(X_test))

0.7688679245283019

In [54]:
accuracy_score(y_train,tree.predict(X_train))

0.8007075471698113

In [55]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(max_depth=5)
rf.fit(X_res,y_res)

RandomForestClassifier(max_depth=5)

In [56]:
accuracy_score(y_test,rf.predict(X_test))

0.7488207547169812

In [57]:
accuracy_score(y_train,rf.predict(X_train))

0.7777122641509434

In [58]:
# data.drop_duplicates(inplace=True)

In [62]:
from sklearn.naive_bayes import GaussianNB

In [63]:
model = GaussianNB()
model.fit(X_res,y_res)

GaussianNB()

In [66]:
accuracy_score(y_test, model.predict(X_test))

0.7889150943396226

In [68]:
accuracy_score(y_train,model.predict(X_train))

0.7915683962264151