In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset = pd.read_csv('data/Market_Basket_Optimisation.csv')

In [3]:
dataset

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7496,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
transactions = []
for i in range(len(dataset)):
    transactions.append([str(dataset.iloc[i,g]) for g in range(20) if str(dataset.iloc[i, g]) != 'nan'])

In [5]:
transactions[0]

['burgers', 'meatballs', 'eggs']

In [6]:
from apyori.apyori import apriori
rules = apriori(transactions = transactions,min_support = 0.003,min_confidence = 0.2,min_lift = 3,min_length = 2,max_length=2)

In [7]:
results = list(rules)
results

[RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)]),
 RelationRecord(items=frozenset({'mushroom cream sauce', 'escalope'}), support=0.005733333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'mushroom cream sauce'}), items_add=frozenset({'escalope'}), confidence=0.30069930069930073, lift=3.7903273197390845)]),
 RelationRecord(items=frozenset({'pasta', 'escalope'}), support=0.005866666666666667, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'escalope'}), confidence=0.37288135593220345, lift=4.700185158809287)]),
 RelationRecord(items=frozenset({'honey', 'fromage blanc'}), support=0.0033333333333333335, ordered_statistics=[OrderedStatistic(items_base=frozenset({'fromage blanc'}), items_add=frozenset({'honey'}), confidence=0.2450980392156863, lift=5.178127589063795)]),
 RelationRecord(items=frozenset({'herb & pepper', 'ground beef'}), support=0.016, ordered_statistics=[OrderedStatistic(items_base=frozenset({'herb & pepper'}), items_add=frozenset({'ground beef'}), confidence=0.3234501347708895, lift=3.2915549671393096)]),
 RelationRecord(items=frozenset({'ground beef', 'tomato sauce'}), support=0.005333333333333333, ordered_statistics=[OrderedStatistic(items_base=frozenset({'tomato sauce'}), items_add=frozenset({'ground beef'}), confidence=0.37735849056603776, lift=3.840147461662528)]),
 RelationRecord(items=frozenset({'light cream', 'olive oil'}), support=0.0032, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'olive oil'}), confidence=0.20512820512820515, lift=3.120611639881417)]),
 RelationRecord(items=frozenset({'whole wheat pasta', 'olive oil'}), support=0.008, ordered_statistics=[OrderedStatistic(items_base=frozenset({'whole wheat pasta'}), items_add=frozenset({'olive oil'}), confidence=0.2714932126696833, lift=4.130221288078346)]),
 RelationRecord(items=frozenset({'shrimp', 'pasta'}), support=0.005066666666666666, ordered_statistics=[OrderedStatistic(items_base=frozenset({'pasta'}), items_add=frozenset({'shrimp'}), confidence=0.3220338983050848, lift=4.514493901473151)])]

In [8]:
result = results[0] # single rule
result

RelationRecord(items=frozenset({'chicken', 'light cream'}), support=0.004533333333333334, ordered_statistics=[OrderedStatistic(items_base=frozenset({'light cream'}), items_add=frozenset({'chicken'}), confidence=0.2905982905982906, lift=4.843304843304844)])

In [9]:
result[0] # Item Set

frozenset({'chicken', 'light cream'})

In [10]:
result[2][0][2] # Confidence

0.2905982905982906

In [11]:
result[2][0][3] # Lift

4.843304843304844

In [12]:
result[1] # Support

0.004533333333333334

In [13]:
def form_rules(results):
    rules = []
    for result in results:
        item_set = result[0]
        confidence = result[2][0][2]
        lift = result[2][0][3]
        support = result[1]
        rule = [item_set,confidence,lift,support]
        rules.append(rule)
    return pd.DataFrame(rules,columns=['Item Set','Confidence','Lift','Support'])

In [14]:
form_rules(results)

                           Item Set  Confidence      Lift   Support
0            (chicken, light cream)    0.290598  4.843305  0.004533
1  (mushroom cream sauce, escalope)    0.300699  3.790327  0.005733
2                 (pasta, escalope)    0.372881  4.700185  0.005867
3            (honey, fromage blanc)    0.245098  5.178128  0.003333
4      (herb & pepper, ground beef)    0.323450  3.291555  0.016000
5       (ground beef, tomato sauce)    0.377358  3.840147  0.005333
6          (light cream, olive oil)    0.205128  3.120612  0.003200
7    (whole wheat pasta, olive oil)    0.271493  4.130221  0.008000
8                   (shrimp, pasta)    0.322034  4.514494  0.005067

# New Data

In [15]:
data = pd.read_csv('data/Final Transactions.csv')

In [16]:
data.head()

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,0,2023-01-01 00:00:31,596,3156,533.07,31,0,0,0
1,1,1,2023-01-01 00:02:10,4961,3412,808.56,130,0,0,0
2,2,2,2023-01-01 00:07:56,2,1365,1442.94,476,0,1,1
3,3,3,2023-01-01 00:09:29,4128,8737,620.65,569,0,0,0
4,4,4,2023-01-01 00:10:34,927,9906,490.66,634,0,0,0

In [17]:
# drop columns named Unnamed: 0, TRANSACTION_ID and CUSTOMER_ID
data.drop(['Unnamed: 0','TRANSACTION_ID','CUSTOMER_ID'],axis=1,inplace=True)

In [18]:
data.isnull().sum()

TX_DATETIME          0
TERMINAL_ID          0
TX_AMOUNT            0
TX_TIME_SECONDS      0
TX_TIME_DAYS         0
TX_FRAUD             0
TX_FRAUD_SCENARIO    0
dtype: int64

In [19]:
data.TX_FRAUD.value_counts()

0    1518186
1     235969
Name: TX_FRAUD, dtype: int64

In [20]:
def split_date(date_string):
    # split the date string into year, month, and day components
    year, month, day = date_string.split("-")
    return year, month, day

def split_time(time_string):
    # split the time string into hour, minute, and second components
    hour, minute, second = time_string.split(":")
    return hour, minute, second

In [21]:
import pandas as pd

def split_datetime(df):
    # create empty lists to hold new columns
    years = []
    months = []
    days = []
    hours = []
    minutes = []
    seconds = []

    # iterate through each row of the DataFrame
    for index, row in df.iterrows():
        # split the "datetime" column into separate date and time components
        date, time = str(row["TX_DATETIME"]).split(" ")

        # split the date and time components into separate year, month, day, hour, minute, and second components
        year, month, day = split_date(date)
        hour, minute, second = split_time(time)

        # append the new values to the corresponding lists
        years.append(year)
        months.append(month)
        days.append(day)
        hours.append(hour)
        minutes.append(minute)
        seconds.append(second)

    # add the new columns to the DataFrame
    df["year"] = pd.Series(years)
    df["month"] = pd.Series(months)
    df["day"] = pd.Series(days)
    df["hour"] = pd.Series(hours)
    df["minute"] = pd.Series(minutes)
    df["second"] = pd.Series(seconds)

    # drop the original "datetime" column
    df = df.drop(columns=["TX_DATETIME"],inplace=True)

    return df

In [22]:
split_datetime(data)

In [23]:
data.drop_duplicates(inplace=True)

In [24]:
data.describe()

,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
count,1.754155e+06,1.754155e+06,1.754155e+06,1.754155e+06,1.754155e+06,1.754155e+06
mean,4.996733e+03,5.396820e+02,7.903234e+06,9.097260e+01,1.345200e-01,1.449746e-01
std,2.886101e+03,1.179711e+03,4.565172e+06,5.283709e+01,3.412103e-01,3.874872e-01
min,0.000000e+00,0.000000e+00,3.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.502000e+03,1.799500e+02,3.940846e+06,4.500000e+01,0.000000e+00,0.000000e+00
50%,4.994000e+03,4.217500e+02,7.902670e+06,9.100000e+01,0.000000e+00,0.000000e+00
75%,7.495000e+03,7.505950e+02,1.186566e+07,1.370000e+02,0.000000e+00,0.000000e+00
max,9.999000e+03,6.478375e+05,1.581120e+07,1.820000e+02,1.000000e+00,3.000000e+00

In [25]:
y = data['TX_FRAUD']
X = data.drop(['TX_FRAUD'],axis=1)

In [26]:
y

0          0
1          0
2          1
3          0
4          0
          ..
1754150    0
1754151    0
1754152    0
1754153    0
1754154    0
Name: TX_FRAUD, Length: 1754155, dtype: int64

In [27]:
X

,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD_SCENARIO,year,month,day,hour,minute,second
0,3156,533.07,31,0,0,2023,01,01,00,00,31
1,3412,808.56,130,0,0,2023,01,01,00,02,10
2,1365,1442.94,476,0,1,2023,01,01,00,07,56
3,8737,620.65,569,0,0,2023,01,01,00,09,29
4,9906,490.66,634,0,0,2023,01,01,00,10,34
...,...,...,...,...,...,...,...,...,...,...,...
1754150,655,531.43,15810996,182,0,2023,07,02,23,56,36
1754151,6181,10.40,15811058,182,0,2023,07,02,23,57,38
1754152,1502,26.62,15811101,182,0,2023,07,02,23,58,21
1754153,3067,550.43,15811192,182,0,2023,07,02,23,59,52
1754154,9849,216.57,15811197,182,0,2023,07,02,23,59,57

In [28]:
from sklearn.model_selection import KFold,StratifiedKFold,train_test_split
# kfold = StratifiedKFold(n_splits=8, shuffle=True, random_state=0)
# split data into train and test sets using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [29]:
# for train_index, test_index in kfold.split(X,y):
#     # Split the data into train and test sets
#     X_train, X_test = X.iloc[train_index], X.iloc[test_index]
#     y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [30]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression()
clf.fit(X_train,y_train)

C:\Users\amr20\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [31]:
y_pred = clf.predict(X_test)

In [32]:
y_pred_train = clf.predict(X_train)

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
acc = accuracy_score(y_test,y_pred)
confusion_mat = confusion_matrix(y_test,y_pred)
pre_score = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)
specificity_test = confusion_mat[0,0] / (confusion_mat[0,0] + confusion_mat[0,1])

In [34]:
print(f'Accuracy Score = {acc}\n Confusion Matrix = {confusion_mat}\n Precision Score = {pre_score}\n Recall Score = {recall}\n F1 Score = {f1}\n Specificity Test = {specificity_test}')

Accuracy Score = 0.9941937856118758
 Confusion Matrix = [[303935     13]
 [  2024  44859]]
 Precision Score = 0.9997102870386878
 Recall Score = 0.9568287012349892
 F1 Score = 0.9777995749550433
 Specificity Test = 0.9999572295261031

In [35]:
acc_train = accuracy_score(y_train,y_pred_train)
confusion_mat_train = confusion_matrix(y_train,y_pred_train)
pre_score_train = precision_score(y_train,y_pred_train)
recall_train = recall_score(y_train,y_pred_train)
f1_train = f1_score(y_train,y_pred_train)
specificity_train = confusion_mat_train[0,0] / (confusion_mat_train[0,0] + confusion_mat_train[0,1])

In [36]:
print(f'Accuracy Score = {acc_train}\n Confusion Matrix = {confusion_mat_train}\n Precision Score = {pre_score_train}\n Recall Score = {recall_train}\n F1 Score = {f1_train}\n Specificity Test = {specificity_train}')

Accuracy Score = 0.9942037619252575
 Confusion Matrix = [[1214181      57]
 [   8077  181009]]
 Precision Score = 0.9996851976627307
 Recall Score = 0.9572839871804364
 F1 Score = 0.9780252436836759
 Specificity Test = 0.9999530569789448

In [37]:
y.value_counts()

0    1518186
1     235969
Name: TX_FRAUD, dtype: int64

In [42]:
from metrics import Classification
Classification.test(y_test=y_test,y_pred_test=y_pred)

Accuracy: 0.9941937856118758
F1 Score: 0.9777995749550433
Recall: 0.9568287012349892
Precision: 0.9997102870386878
Confusion Matrix:
 [[303935     13]
 [  2024  44859]]
Specificity: 0.9999572295261031

In [39]:
Classification.train(y_train=y_train,y_pred_train=y_pred_train)

Train Accuracy: 0.9942037619252575
Train F1 Score: 0.9780252436836759
Train Recall: 0.9572839871804364
Train Precision: 0.9996851976627307
Train Confusion Matrix:
 [[1214181      57]
 [   8077  181009]]
Train Specificity: 0.9999530569789448

None