In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import toolkit
import warnings
warnings.filterwarnings("ignore")

In [3]:
dataset = pd.read_csv('data/Hotel Reservations.csv')

In [4]:
dataset

,Booking_ID,no_of_adults,no_of_children,no_of_weekend_nights,no_of_week_nights,type_of_meal_plan,required_car_parking_space,room_type_reserved,lead_time,arrival_year,arrival_month,arrival_date,market_segment_type,repeated_guest,no_of_previous_cancellations,no_of_previous_bookings_not_canceled,avg_price_per_room,no_of_special_requests,booking_status
0,INN00001,2,0,1,2,Meal Plan 1,0,Room_Type 1,224,2017,10,2,Offline,0,0,0,65.00,0,Not_Canceled
1,INN00002,2,0,2,3,Not Selected,0,Room_Type 1,5,2018,11,6,Online,0,0,0,106.68,1,Not_Canceled
2,INN00003,1,0,2,1,Meal Plan 1,0,Room_Type 1,1,2018,2,28,Online,0,0,0,60.00,0,Canceled
3,INN00004,2,0,0,2,Meal Plan 1,0,Room_Type 1,211,2018,5,20,Online,0,0,0,100.00,0,Canceled
4,INN00005,2,0,1,1,Not Selected,0,Room_Type 1,48,2018,4,11,Online,0,0,0,94.50,0,Canceled
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36270,INN36271,3,0,2,6,Meal Plan 1,0,Room_Type 4,85,2018,8,3,Online,0,0,0,167.80,1,Not_Canceled
36271,INN36272,2,0,1,3,Meal Plan 1,0,Room_Type 1,228,2018,10,17,Online,0,0,0,90.95,2,Canceled
36272,INN36273,2,0,2,6,Meal Plan 1,0,Room_Type 1,148,2018,7,1,Online,0,0,0,98.39,2,Not_Canceled
36273,INN36274,2,0,0,3,Not Selected,0,Room_Type 1,63,2018,4,21,Online,0,0,0,94.50,0,Canceled
36274,INN36275,2,0,1,2,Meal Plan 1,0,Room_Type 1,207,2018,12,30,Offline,0,0,0,161.67,0,Not_Canceled

In [6]:
toolkit.data_info(dataset)

,Columns,n_uniques,unique,dtypes,NULLS
0,Booking_ID,36275,"[INN00001, INN00002, INN00003, INN00004, INN00...",object,0
1,no_of_adults,5,"[2, 1, 3, 0, 4]",int64,0
2,no_of_children,6,"[0, 2, 1, 3, 10, 9]",int64,0
3,no_of_weekend_nights,8,"[1, 2, 0, 4, 3, 6, 5, 7]",int64,0
4,no_of_week_nights,18,"[2, 3, 1, 4, 5, 0, 10, 6, 11, 7, 15, 9, 13, 8,...",int64,0
5,type_of_meal_plan,4,"[Meal Plan 1, Not Selected, Meal Plan 2, Meal ...",object,0
6,required_car_parking_space,2,"[0, 1]",int64,0
7,room_type_reserved,7,"[Room_Type 1, Room_Type 4, Room_Type 2, Room_T...",object,0
8,lead_time,352,"[224, 5, 1, 211, 48, 346, 34, 83, 121, 44, 0, ...",int64,0
9,arrival_year,2,"[2017, 2018]",int64,0
10,arrival_month,12,"[10, 11, 2, 5, 4, 9, 12, 7, 6, 8, 3, 1]",int64,0
11,arrival_date,31,"[2, 6, 28, 20, 11, 13, 15, 26, 18, 30, 5, 10, ...",int64,0
12,market_segment_type,5,"[Offline, Online, Corporate, Aviation, Complem...",object,0
13,repeated_guest,2,"[0, 1]",int64,0
14,no_of_previous_cancellations,9,"[0, 3, 1, 2, 11, 4, 5, 13, 6]",int64,0
15,no_of_previous_bookings_not_canceled,59,"[0, 5, 1, 3, 4, 12, 19, 2, 15, 17, 7, 20, 16, ...",int64,0
16,avg_price_per_room,3930,"[65.0, 106.68, 60.0, 100.0, 94.5, 115.0, 107.5...",float64,0
17,no_of_special_requests,6,"[0, 1, 3, 2, 4, 5]",int64,0
18,booking_status,2,"[Not_Canceled, Canceled]",object,0

In [9]:
dataset.drop(['Booking_ID'],inplace=True,axis=1)

In [11]:
dataset.duplicated().sum()

10275

In [ ]:
dataset.drop_duplicates(inplace=True,ignore_index=)