In [1]:
import pandas as pd
import numpy as np

# New Data

In [15]:
data = pd.read_csv('data/Final Transactions.csv')

In [16]:
data.head()

,Unnamed: 0,TRANSACTION_ID,TX_DATETIME,CUSTOMER_ID,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
0,0,0,2023-01-01 00:00:31,596,3156,533.07,31,0,0,0
1,1,1,2023-01-01 00:02:10,4961,3412,808.56,130,0,0,0
2,2,2,2023-01-01 00:07:56,2,1365,1442.94,476,0,1,1
3,3,3,2023-01-01 00:09:29,4128,8737,620.65,569,0,0,0
4,4,4,2023-01-01 00:10:34,927,9906,490.66,634,0,0,0

In [17]:
# drop columns named Unnamed: 0, TRANSACTION_ID and CUSTOMER_ID
data.drop(['Unnamed: 0','TRANSACTION_ID','CUSTOMER_ID'],axis=1,inplace=True)

In [18]:
data.isnull().sum()

TX_DATETIME          0
TERMINAL_ID          0
TX_AMOUNT            0
TX_TIME_SECONDS      0
TX_TIME_DAYS         0
TX_FRAUD             0
TX_FRAUD_SCENARIO    0
dtype: int64

In [19]:
data.TX_FRAUD.value_counts()

0    1518186
1     235969
Name: TX_FRAUD, dtype: int64

In [20]:
def split_date(date_string):
    # split the date string into year, month, and day components
    year, month, day = date_string.split("-")
    return year, month, day

def split_time(time_string):
    # split the time string into hour, minute, and second components
    hour, minute, second = time_string.split(":")
    return hour, minute, second

In [21]:
import pandas as pd

def split_datetime(df):
    # create empty lists to hold new columns
    years = []
    months = []
    days = []
    hours = []
    minutes = []
    seconds = []

    # iterate through each row of the DataFrame
    for index, row in df.iterrows():
        # split the "datetime" column into separate date and time components
        date, time = str(row["TX_DATETIME"]).split(" ")

        # split the date and time components into separate year, month, day, hour, minute, and second components
        year, month, day = split_date(date)
        hour, minute, second = split_time(time)

        # append the new values to the corresponding lists
        years.append(year)
        months.append(month)
        days.append(day)
        hours.append(hour)
        minutes.append(minute)
        seconds.append(second)

    # add the new columns to the DataFrame
    df["year"] = pd.Series(years)
    df["month"] = pd.Series(months)
    df["day"] = pd.Series(days)
    df["hour"] = pd.Series(hours)
    df["minute"] = pd.Series(minutes)
    df["second"] = pd.Series(seconds)

    # drop the original "datetime" column
    df = df.drop(columns=["TX_DATETIME"],inplace=True)

    return df

In [22]:
split_datetime(data)

In [27]:
data.drop_duplicates(inplace=True)

In [28]:
data.describe()

,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD,TX_FRAUD_SCENARIO
count,1.754155e+06,1.754155e+06,1.754155e+06,1.754155e+06,1.754155e+06,1.754155e+06
mean,4.996733e+03,5.396820e+02,7.903234e+06,9.097260e+01,1.345200e-01,1.449746e-01
std,2.886101e+03,1.179711e+03,4.565172e+06,5.283709e+01,3.412103e-01,3.874872e-01
min,0.000000e+00,0.000000e+00,3.100000e+01,0.000000e+00,0.000000e+00,0.000000e+00
25%,2.502000e+03,1.799500e+02,3.940846e+06,4.500000e+01,0.000000e+00,0.000000e+00
50%,4.994000e+03,4.217500e+02,7.902670e+06,9.100000e+01,0.000000e+00,0.000000e+00
75%,7.495000e+03,7.505950e+02,1.186566e+07,1.370000e+02,0.000000e+00,0.000000e+00
max,9.999000e+03,6.478375e+05,1.581120e+07,1.820000e+02,1.000000e+00,3.000000e+00

In [29]:
y = data['TX_FRAUD']
X = data.drop(['TX_FRAUD'],axis=1)

In [30]:
y

0          0
1          0
2          1
3          0
4          0
          ..
1754150    0
1754151    0
1754152    0
1754153    0
1754154    0
Name: TX_FRAUD, Length: 1754155, dtype: int64

In [31]:
X

,TERMINAL_ID,TX_AMOUNT,TX_TIME_SECONDS,TX_TIME_DAYS,TX_FRAUD_SCENARIO,year,month,day,hour,minute,second
0,3156,533.07,31,0,0,2023,01,01,00,00,31
1,3412,808.56,130,0,0,2023,01,01,00,02,10
2,1365,1442.94,476,0,1,2023,01,01,00,07,56
3,8737,620.65,569,0,0,2023,01,01,00,09,29
4,9906,490.66,634,0,0,2023,01,01,00,10,34
...,...,...,...,...,...,...,...,...,...,...,...
1754150,655,531.43,15810996,182,0,2023,07,02,23,56,36
1754151,6181,10.40,15811058,182,0,2023,07,02,23,57,38
1754152,1502,26.62,15811101,182,0,2023,07,02,23,58,21
1754153,3067,550.43,15811192,182,0,2023,07,02,23,59,52
1754154,9849,216.57,15811197,182,0,2023,07,02,23,59,57

In [34]:
from sklearn.model_selection import KFold,StratifiedKFold,train_test_split
# kfold = StratifiedKFold(n_splits=8, shuffle=True, random_state=0)
# split data into train and test sets using train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=0)

In [33]:
# for train_index, test_index in kfold.split(X,y):
#     # Split the data into train and test sets
#     X_train, X_test = X.iloc[train_index], X.iloc[test_index]
#     y_train, y_test = y.iloc[train_index], y.iloc[test_index]

In [48]:
from sklearn.linear_model import LogisticRegression
clf = LogisticRegression(class_weight='balanced')
clf.fit(X_train,y_train)

C:\Users\amr20\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression(class_weight='balanced')

In [49]:
y_pred = clf.predict(X_test)

In [50]:
y_pred_train = clf.predict(X_train)

In [51]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score
acc = accuracy_score(y_test,y_pred)
confusion_mat = confusion_matrix(y_test,y_pred)
pre_score = precision_score(y_test,y_pred)
recall = recall_score(y_test,y_pred)
f1 = f1_score(y_test,y_pred)
specificity_test = confusion_mat[0,0] / (confusion_mat[0,0] + confusion_mat[0,1])

In [52]:
print(f'Accuracy Score = {acc}\n Confusion Matrix = {confusion_mat}\n Precision Score = {pre_score}\n Recall Score = {recall}\n F1 Score = {f1}\n Specificity Test = {specificity_test}')

Accuracy Score = 0.9420205170010632
 Confusion Matrix = [[285201  18747]
 [  1594  45289]]
 Precision Score = 0.70724280092448
 Recall Score = 0.9660004692532475
 F1 Score = 0.8166139254771498
 Specificity Test = 0.9383216866042876

In [53]:
acc_train = accuracy_score(y_train,y_pred_train)
confusion_mat_train = confusion_matrix(y_train,y_pred_train)
pre_score_train = precision_score(y_train,y_pred_train)
recall_train = recall_score(y_train,y_pred_train)
f1_train = f1_score(y_train,y_pred_train)
specificity_train = confusion_mat_train[0,0] / (confusion_mat_train[0,0] + confusion_mat_train[0,1])

In [54]:
print(f'Accuracy Score = {acc_train}\n Confusion Matrix = {confusion_mat_train}\n Precision Score = {pre_score_train}\n Recall Score = {recall_train}\n F1 Score = {f1_train}\n Specificity Test = {specificity_train}')

Accuracy Score = 0.9421388075740171
 Confusion Matrix = [[1139160   75078]
 [   6120  182966]]
 Precision Score = 0.7090496194447459
 Recall Score = 0.9676337751076229
 F1 Score = 0.8184018070807149
 Specificity Test = 0.9381686292143715

In [55]:
y.value_counts()

0    1518186
1     235969
Name: TX_FRAUD, dtype: int64

In [1]:
1518186/(1518186+235969)*100

86.54799604367915